
<ion-content>

  <ion-img src="../../../assets/img/LogoSisGera.png"></ion-img>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input type ="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type = "password"[(ngModel)]="senha"></ion-input>
      </ion-item>
    </ion-list>
      


<div>
  <ion-button color ="danger" expand="full" (click)="logar()">Entrar<ion-icon slot="end" name="log-in"></ion-icon></ion-button>
</div>


</ion-content>
